
  /* Footer con logo y enlaces */
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 50px auto 0;
    padding: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
  
  .footer-logo img {
    width: 150px;
  }
  
  .footer-text {
    display: flex;
    gap: 20px;
  }
  
  .footer-text a {
    color:rgb(70, 62, 28);
    font-size: 18px;
    text-decoration: none;
    transition: 0.3s;
  }
  
  .footer-text a:hover {
    color: rgb(255, 255, 255);
  }
  