
  /* Footer con logo y enlaces */
  #footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 50px auto 0;
    padding: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
  
  .footer-logo img {
    width: 150px;
  }
  
  .footer-text {
    display: flex;
    gap: 20px;
  }
  
  .footer-text a {
    color: rgb(94, 82, 33);
    font-size: 20px;
    text-decoration: none;
    transition: 0.3s;
    font-weight: bold
  }
  
  .footer-text a:hover {
    color:  rgb(200, 180, 80);
  }
  
 