.header {
  display: flex;
  justify-content: space-between; /* Separa los tres bloques */
  align-items: center; /* Centra verticalmente */
  padding: 5px 20px;
  background-color: #fffcfc;
  color: rgb(160, 142, 61);
}

.container {
  display: flex;
  justify-content: space-between; /* Separa las tres partes del header */
  align-items: center;
  width: 100%;
  max-width: 1200px; /* Ajusta según tu preferencia */
  margin: 0 auto; /* Centra el contenedor */
}

.logo {
  font-size: 18px;
}

.nav-links {
  display: flex;
  list-style: none;
  padding: 0;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  text-decoration: none;
  color:rgb(160, 142, 61);
  font-size: 20px;
}

.social-icons {
  display: flex;
  gap: 15px; /* Espaciado entre iconos */
}

.social-icons img {
  width: 30px; /* Ajusta el tamaño de los iconos */
  height: 30px;
  transition: transform 0.3s ease;
}

.social-icons img:hover {
  transform: scale(1.2); /* Efecto de zoom al pasar el cursor */
}
.logo img {
  width: 100px; /* Ajusta el tamaño según tu necesidad */
  height: auto;
  margin-left: 60%
}