body {
  margin: 0;
  font-family: "Roboto Serif", serif;
  color: #ffffff;
  background: linear-gradient(to bottom, #ffffff 70%, rgb(160, 142, 61) 100%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}
