.projects-title {
  font-size: 2.5rem; /* Tamaño inicial */
  color:rgb(126, 112, 51); /* Marrón */
  text-align: center;
  opacity: 0;
  transform: scale(0.8); /* Inicia más pequeño */
  animation: fadeInGrow 8s ease-out forwards;
}

/* Animación de entrada */
@keyframes fadeInGrow {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1.2); /* Aumenta de tamaño */
  }
}

.projects-title:hover {
  color: rgb(160, 142, 61); /* Color más dorado */
}

.projects-title::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  background:rgb(200, 180, 80);
  bottom: -5px;
  left: 50%;
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.projects-title:hover::after {
  width: 100%;
  left: 0;
}


.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); /* Mantiene el layout */
  gap: 20px;
  margin-top: 20px;
}
  .project-card {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
  }
  
  .project-card:hover {
    transform: scale(1.05);
  }
  .project-image {
    width: 100%;
    height: auto; /* Mantiene la proporción original */
    display: block;
  }

  .project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background: rgba(0, 0, 0, 1);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    box-sizing: border-box;
}

  
  .project-overlay h3 {
    margin-bottom: 2px; /* Espacio entre el título y la descripción */
    font-size: 1.5rem; /* Ajuste de tamaño */
    color: rgb(160, 142, 61); /* Marrón dorado */
  }
  
  .project-overlay p {
    margin-bottom: 10px; /* Espacio antes del botón */
    font-size: 1rem;
    color: white;
    padding: 30px;
    margin-top: -2%;
    width: 100%; /* Ocupa todo el ancho del overlay */
    box-sizing: border-box; /* Asegura que el padding no altere el tamaño total */
  }
  
  .project-card:hover .project-overlay {
    opacity: 1;
  }

  .project-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color:  rgb(248, 225, 125);
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background 0.3s;
  }
  
  .project-button:hover {
    background-color:  rgb(248, 225, 125);
  }
  